$fairy : #EE99EE;
$steel : #AAAABB;
$dark : #775544;
$dragon : #7766EE;
$ghost : #6666BB;
$rock : #BBAA66;
$bug : #AABB22;
$psychic : #FF5599;
$flying: #8899FF;
$ground : #DDBB55;
$poison : #AA5599;
$fighting : #BB5544;
$ice: #66CCFF;
$grass : #77CC55;
$electric : #FFCC33;
$water: #3399FF;
$fire : #FF4422;
$normal: #AAAA99;

$text-primary: black;
$text-secondary: hsl(0, 0%, 44%);

$bg-primary: white;