*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  font-size: 100%;

  @media screen and (max-width: 710px) {
    font-size: 85%;
  }
}

body {
  background-color: var(--surface);
}

input,
textarea,
button {
  font-size: inherit;
}

.offscreen {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  top: auto;
  left: -10000px;
}

.unvisible {
  visibility: hidden;
}