@use '../utils' as *;

.data {
  margin-block: rem(20);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(10) rem(50);
  padding-inline: 10%;

  &__card {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
  }

  &__title {
    text-transform: capitalize;
    font-size: 1rem;
  }

  &__value {
    margin-top: rem(5)
  }
}