.header {
  display: flow-root;
  padding: 20px;
  background-color: var(--primary-container);

  &__title {
    float: left;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: var(--on-primary-container);
  }

  &__toggle {
    float: right;
    margin-right: 50px;
    margin-block: auto;
  }
}