@use '../utils' as *;

.header {
  display: flex;
  padding-block: rem(20);
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-container);

  @media only screen and (max-width: 710px) {
    flex-direction: column;

    &__toggle {
      margin-top: rem(10);
    }

    .unvisible {
      display: none;
    }
  }

  &__title {
    color: var(--on-primary-container);
  }

  &__toggle {}
}