@use '../utils' as *;

.hero {

  padding-inline: 10%;

  &__img-container {
    height: 30vh;
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
  }

  &__name {
    text-transform: uppercase;
  }

  &__id {
    margin-top: rem(10);
    font-weight: 600;
  }

  &__types {
    display: flex;
    gap: rem(10);
    margin-top: rem(20);
  }

  &__type {
    padding: rem(5);
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
  }

  $types: fairy, steel, dark, dragon, ghost, rock, bug, psychic, flying, ground, poison, fighting, ice, grass, electric, water, fire, normal;

  @each $type in $types {
    &__type--#{$type} {
      background-color: var(--#{$type});
    }
  }
}