@use '../utils' as *;

.toggle {
  display: flex;
  gap: rem(10);

  &__label {
    line-height: rem(25);
    color: var(--on-surface);
  }

  &__wrapper {
    position: relative;
  }

  &__radio {
    width: rem(25);
    height: rem(25);
    margin-right: rem(-8);
    opacity: 0;
  }

  &__background {
    position: absolute;
    width: rem(44);
    height: rem(25);
    left: 0;
    top: 0;
    border-radius: rem(12.5);
    border: 1px solid var(--toggle-bg);
    background-color: var(--toggle-bg);
    pointer-events: none;
  }

  &__button {
    position: absolute;
    width: rem(19);
    height: rem(19);
    top: rem(3);
    left: rem(3);
    border-radius: 50%;
    background-color: var(--toggle-btn);
    transition: all 100ms ease-in-out;
  }

  #dark:checked~&__button {
    left: rem(22);
  }
}